<h1>Coordinates Lookup</h1>

<dl>
  <dt></a><a href="http://localhost:3000/address">Look-up new coordinates</a></dt>
  <p></p>

  <dt>Address:</dt>
  <dd><%= @address %></dd>

  <dt>URL Safe Address:</dt>
  <dd><%= @url_safe_address %></dd>

  <dt>Latitude:</dt>
  <dd><%= @latitude %></dd>

  <dt>Longitude:</dt>
  <dd><%= @longitude %></dd>
</dl>
